.e2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-image:linear-gradient(0deg, rgba(196.5624949336052, 50.77864743769169, 103.26083466410637, 1) 0%,rgba(31.000000052154064, 10.000000353902578, 58.00000034272671, 1) 100%) ;
	width:1565px;
	height:4864px;
	position:absolute;
}
.e6_59 { 
	background-color:rgba(196.5624949336052, 50.77864743769169, 103.26083466410637, 1);
	width:591px;
	height:719px;
	position:absolute;
	left:173px;
	top:1988px;
}
.e6_60 { 
	background-color:rgba(196.5624949336052, 50.77864743769169, 103.26083466410637, 1);
	width:591px;
	height:719px;
	position:absolute;
	left:814px;
	top:1981px;
}
.e6_37 { 
	width:563px;
	height:704px;
	position:absolute;
	left:827.5px;
	top:1996px;
	border-radius: 180px;
	background-image:url(images/imagen_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_52 { 
	background-image:linear-gradient(0deg, rgba(195.49999594688416, 28.510417342185974, 108.66541385650635, 1) 0%,rgba(2.000000118277967, 0, 42.000001296401024, 1) 100%) ;
	width:1501px;
	height:653px;
	position:absolute;
	left:32px;
	top:383px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e6_63 { 
	background-image:linear-gradient(0deg, rgba(195.49999594688416, 28.510417342185974, 108.66541385650635, 1) 0%,rgba(2.000000118277967, 0, 42.000001296401024, 1) 100%) ;
	width:1501px;
	height:879px;
	position:absolute;
	left:32px;
	top:2804px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e6_55 { 
	background-image:linear-gradient(0deg, rgba(2.000000118277967, 0, 42.000001296401024, 1) 0%,rgba(195.49999594688416, 28.510417342185974, 108.66541385650635, 1) 70.17396092414856%) ;
	width:1501px;
	height:829px;
	position:absolute;
	left:32px;
	top:1087px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e6_67 { 
	color:rgba(255, 255, 255, 1);
	width:718px;
	height:560px;
	position:absolute;
	left:115px;
	top:1225px;
	font-family:Macondo Swash Caps;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e6_62 { 
	width:1501px;
	height:829px;
	position:absolute;
	left:32px;
	top:3757px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	background-image:url(images/rectangle_45.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_2 { 
	background-image:url(images/rectangle_1.png);
	width:1565px;
	height:282px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_4 { 
	color:rgba(0, 0, 0, 1);
	width:775px;
	height:375px;
	position:absolute;
	left:353px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:128px;
	letter-spacing:0;
}
.e6_11 { 
	box-shadow:66.33328247070312px 74.83245086669922px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:465px;
	height:332px;
	position:absolute;
	left:844px;
	top:566px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e6_25 { 
	color:rgba(0, 0, 0, 1);
	width:241px;
	height:31px;
	position:absolute;
	left:991px;
	top:790px;
	font-family:IBM Plex Sans Devanagari;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e6_22 { 
	width:53px;
	height:50px;
	position:absolute;
	left:970px;
	top:660px;
	background-image:url(images/shopping_cart.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_16 { 
	width:208px;
	height:193px;
	position:absolute;
	left:79px;
	top:37px;
	border-top-left-radius:416px;
	border-top-right-radius:416px;
	border-bottom-left-radius:416px;
	border-bottom-right-radius:416px;
	background-image:url(images/imagen_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_44 { 
	width:208px;
	height:193px;
	position:absolute;
	left:1186px;
	top:48px;
	border-top-left-radius:416px;
	border-top-right-radius:416px;
	border-bottom-left-radius:416px;
	border-bottom-right-radius:416px;
	background-image:url(images/imagen_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_18 { 
	width:53px;
	height:50px;
	position:absolute;
	left:970px;
	top:600px;
	background-image:url(images/home_page.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*.e6_19 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:31px;
	position:absolute;
	left:1086px;
	top:613px;
	font-family:IBM Plex Sans Devanagari;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}*/
.btInicio {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position:absolute;
	left:1086px;
	top:595px;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btInicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ac5959;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btInicio:hover {
  color: #e8e8e8;
 }
 
 .btInicio:hover::before {
  width: 100%;
 }
/*.e6_21 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:31px;
	position:absolute;
	left:1038px;
	top:661px;
	font-family:IBM Plex Sans Devanagari;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}*/
.btReserva {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position:absolute;
	left:1038px;
	top:655px;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btReserva::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ac5959;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btReserva:hover {
  color: #e8e8e8;
 }
 
 .btReserva:hover::before {
  width: 100%;
 }
/*.e6_33 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:31px;
	position:absolute;
	left:1057px;
	top:710px;
	font-family:IBM Plex Sans Devanagari;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}*/
.btCat {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position:absolute;
	left:1070px;
	top:720px;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btCat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #ac5959;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btCat:hover {
  color: #e8e8e8;
 }
 
 .btCat:hover::before {
  width: 100%;
 }
.e6_26 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:50px;
	position:absolute;
	left:545px;
	top:180px;
	font-family:Jockey One;
	text-align:left;
	font-size:36px;
	letter-spacing:10;
}
.e6_35 { 
	width:563px;
	height:697px;
	position:absolute;
	left:855px;
	top:1153px;
	border-top-left-radius:71px;
	border-top-right-radius:71px;
	border-bottom-left-radius:71px;
	border-bottom-right-radius:71px;
	background-image:url(images/imagen_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_38 { 
	width:42px;
	height:43px;
	position:absolute;
	left:978px;
	top:730px;
	background-image:url(images/open_book.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_41 { 
	width:90px;
	height:90px;
	position:absolute;
	left:346px;
	top:101px;
	background-image:url(images/rose.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_49 { 
	width:531px;
	height:663px;
	position:absolute;
	left:202.5px;
	top:2016px;
	border-radius: 150px;
	background-image:url(images/imagen_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_56 { 
	background-color:rgba(255, 255, 255, 1);
	width:1565px;
	height:207px;
	position:absolute;
	left:0px;
	top:4662px;
	border-radius:40px;
}
.e6_57 { 
	color:rgba(0, 0, 0, 1);
	width:657px;
	height:38px;
	position:absolute;
	left:454px;
	top:4739px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e6_70 { 
	width:658px;
	height:658px;
	position:absolute;
	left:93px;
	top:2915px;
	border-top-left-radius:120px;
	border-top-right-radius:120px;
	border-bottom-left-radius:120px;
	border-bottom-right-radius:120px;
	background-image:url(images/imagen_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_72 { 
	width:672px;
	height:743px;
	position:absolute;
	left:835px;
	top:2872px;
	border-top-left-radius:136px;
	border-top-right-radius:136px;
	border-bottom-left-radius:136px;
	border-bottom-right-radius:136px;
	background-image:url(images/imagen_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_9 { 
	width:622px;
	height:500px;
	position:absolute;
	left:86px;
	top:463px;
	border-top-left-radius:240px;
	border-top-right-radius:240px;
	border-bottom-left-radius:240px;
	border-bottom-right-radius:240px;
	background-image:url(images/imagen_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_39 { 
	width:78px;
	height:78px;
	position:absolute;
	left:998px;
	top:820px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_40 { 
	width:78px;
	height:78px;
	position:absolute;
	left:1112px;
	top:820px;
	background-image:url(images/whatsapp.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_47 { 
	width:90px;
	height:90px;
	position:absolute;
	left:1022px;
	top:111px;
	background-image:url(images/rose.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_68 { 
	color:rgba(255, 255, 255, 1);
	width:630px;
	height:73px;
	position:absolute;
	left:450px;
	top:2726px;
	font-family:Lilita One;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
/*
Desde aqui son los estilos para Modal
*/
.e26_2 { 
	overflow:hidden;
}
.e17_18 { 
	width:250px;
	height:300px;
	position:absolute;
	left:814px;
	top:359px;
  border-radius: 50px;
	background-image:url(images/imagen_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_16 { 
	width:250px;
	height:249px;
	position:absolute;
	left:935px;
	top:80px;
  border-radius: 50px;
	background-image:url(images/imagen_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_14 { 
	width:250px;
	height:300px;
	position:absolute;
	left:420px;
	top:400px;
  border-radius: 50px;
	background-image:url(images/imagen_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_12 { 
	width:200px;
	height:300px;
	position:fixed;
	left:223px;
	top:400px;
  border-radius: 50px;
	background-image:url(images/imagen_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_10 { 
	width:250px;
	height:300px;
	position:fixed;
	left:780px;
	top:37px;
  border-radius: 50px;
	background-image:url(images/imagen_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_8 { 
	width:200px;
	height:350px;
	position:fixed;
	left:532px;
	top:22px;
  border-radius: 50px;
	background-image:url(images/imagen_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_6 { 
	width:250px;
	height:300px;
	position:fixed;
	left:200px;
	top:80px;
  border-radius: 50px;
	background-image:url(images/imagen_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
